@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This app has been deployed to Azure using an <a href="https://azure.microsoft.com/en-us/services/devops/pipelines/">Azure DevOps pipeline</a>.</p>

</div>
